body {
  background: #121;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.logo {
  font-family: "Honk", monospace;
  font-size: 58pt;
  font-variation-settings: "MORF" 0, "SHLN" 50;
  line-height: 0;
  text-align: center;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #8f8, #040);
  border-bottom: 3px solid #020;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px;
  gap: 20px;
  justify-content: space-evenly;
  background: #040;
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 0px 3px #000;
  border-bottom: 3px solid #020;

  a {
    position: relative;
    text-decoration: none;
    padding: 10px;

    &:hover {
      background: #fff2;
    }

    &.active {
      background: #fff2;
    }

    .nots {
      position: absolute;
      color: #220;
      text-shadow: none;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 3px;
      letter-spacing: 0;
      font-size: 6pt;
      border-radius: 100%;
      background: #fd5;
      box-shadow: 0px 2.5px 0px #220;

      &.zero {
        background: #ff74;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 48pt;
    height: 150px;
  }
  .nav {
    gap: 0px;
  }
}
